*.pyc
*.pyo
__pycache__
.DS_Store
.cache
.coverage
.vagrant
.idea
.project
.pydevproject
*.sqlite3
postgresql
local_config.js
local_config_admin.js
local_settings.py
log.txt
bots/log.txt
deploy/tmp/*
urlforbots.py
celerybeat-schedule.db
staticfiles/*
venv/*
env/*
frontend/*
media/*
exchange/settings/local_*.py
*.mo
logs/
cleanup_backups/*
static/*
maintenance_mode_state.txt
docker-compose.yml
.env
!.gitkeep
